.fixed
  %nav.top-bar{role: "navigation", data: {topbar: ''}}
    %ul.title-area
      %li.name
        %h1
          = link_to "/index.html" do
            = data.site.name.upcase
      %li.toggle-topbar.menu-icon
        %a
          %span Menu

    %section.top-bar-section
      %ul.left
        - data.header.links.each do |link|
          %li{ class: [(current_page.data.title == link.name ? "active" : nil)] }
            =link_to link.url do
              - if link.icon?
                %i.fa{class: "fa-#{link.icon}"}
              %span= link.name

      - if current_page.data.header && current_page.data.header.links?
        %ul.right{class: "nav-#{current_page.data.title.downcase}"}
          %li.divider
          - current_page.data.header.links.each do |link|
            %li{class: "nav-#{current_page.data.title.downcase}-#{link.classname}"}
              =link_to link.url, (link.modal? ? {data: {reveal: { id: link.modal }}} : {})  do
                - if link.icon?
                  %i.fa{class: "fa-#{link.icon}"}
                %span= link.name